@font-face {
  font-family: OriginTech;
  src: url(../font/OriginTech.otf);
}
@font-face {
  font-family: Squid;
  src: url(../font/GameOfSquids.otf);
}

:root {
    --clr-neon: #2bd01f;
    --clr-bg: hsl(323 21% 16%);
  }
  
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
  -moz-box-sizing: border-box;
    font-family: OriginTech, sans-serif;
}
body{
  overflow: hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .wrapper{
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,6)),url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px) saturate(180%);
    transform: scale(1.1);
    z-index: -1;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: relative;
  }

  .right{
    display: block;
    color:var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  }
  .items{
    display: block;
    width: 18em;
    height: 18em;
    background: #111;
    border: 2px solid var(--clr-neon);
    border-radius: 0.5em;
    margin: 0 4em;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    cursor: pointer;
    transition: all 125ms ease-in-out;
  }
  .items:hover ,.selected{
    background: transparent;
    transform: scale(1.1);
  }
  .levels{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5em;
  }
  .items p{
    color: var(--clr-neon);
    text-align: center;
    font-size: 1.5em;
    margin-top: 0.5em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  }
  .items h2{
    color: var(--clr-neon);
    font-size: 4em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  }

  .key{
    font-size: 5em;
    height: 2em;
    width: 2em;
    color: var(--clr-neon);
    background: transparent;
    border: 2px solid var(--clr-neon);
    border-radius: 0.25em;
    padding: 0.2em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }
  .key:hover, .chosen{
    color: white;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
    border: 2px solid white;
  }
  .select{
    position: absolute;
    bottom: -1em;
    background: transparent;
    font-size: 2.5em;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  }
  .select:hover{
    color: white;
    border: white 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
    box-shadow: inset 0 0 0.5em 0 white, 0 0 0.5em 0 white;
  }
  .back-icon{
    position: absolute;
    top: 1em;
    left: 1em;
    border: 2px solid var(--clr-neon);
    border-radius: 0.5em;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: 200ms ease-in-out;
  }

  .back-icon > span {
    font-size: 2em;
    width: 1em;
  }
  
  .back-icon:hover, .back-icon > span:hover{
    opacity: 1;
  } 
  .options{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 45em;
    height: 45em;
    background: #111;
    border: 2px solid var(--clr-neon);
    border-radius: 0.5em;
    margin: 6em 4em 0 4em;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    cursor: default;
  }

  .options h2{
    color: white;
    font-size: 3em;
    position: absolute;
    top: 1em;

  }
  .choose{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -4em;
  }
  .third{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .random{
    font-family: Squid;
    font-size: 5em;
    color: var(--clr-neon);
    margin-top: -0.45em;
    padding: 0;
  }

h1{ 
    font-size: 8vh;
    color: hsl(0 0% 100% / 0.8);
    padding: 0.25em 1em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
    position: relative;
    margin-bottom: 0.75em;
}
.opis{
  color: white;
  font-size: 2.5em;
  position: absolute;
  top: 1em;
}
.info{
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border: 5px solid var(--clr-neon);
  background: transparent;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: absolute;
  right: 1em;
  bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.7;
}
.info:nth-of-type(2){
  right: 6em;
}
.info:nth-of-type(3),.info:nth-of-type(4){
  right: 11em;
  text-align: center;

}
#play{
  display: none;
}
#up{
  display: block;
  color:var(--clr-neon);
  font-size: 2em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  position: absolute;
  top: 0.3em;
  right: 0.35em;
}
#off{
  font-size: 2em;
  color:var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  position: absolute;
  top: 0.3em;
  right: 0.35em;
}

.info p{
  color: var(--clr-neon);
  font-size: 2.5em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  font-weight: 600;
}
.info:hover{
  opacity: 1;
  transition: 250ms ease;
}

.instructions{
  font-size: 2.75em;
  color: white;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  margin: 0.5em 0;
}
.copy{
  font-size: 2em;
}
.infoAlert p{
  color: white;
  font-size: 1.125em;
}

.complete {
  display: none;
  position: absolute;
  width: 42em;
  height: 20em;
  background: #111;
  z-index: 20;
  padding-top: 2.5em;
  text-align: center;
  border-radius: 0.5em;
  border: 2px solid white;
  transition: 0.5s ease;
  animation: popup 0.7s ease;  
  box-shadow:  0 0 0.5em 0 white;
}
.backdrop{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
}
@keyframes popup {
from {
transform: scale(0);
}
to{
  transform: scale(1);

}
}
.complete h3{
  font-size: 2.75em;
  color: white;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
}

.complete button{
  cursor: pointer;
  padding: 0.25em 1em;
  font-size: 1.5em;
  background: transparent;
  color: white;
  border-radius: 0.25em;
  border: white 0.125em solid;
  margin: 4em 2em;
  transition: 0.25s ease;
}
.complete button:hover{
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  
  box-shadow: inset 0 0 0.25em 0 var(--clr-neon), 0 0 0.25em 0 var(--clr-neon);
  text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em var(--clr-neon);
}

.neon-button {
  bottom: -1em;
    display: none;
    font-size: 2.5em;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    z-index: 50;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: absolute;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  
canvas {
  display: none;
}

#znak{
  position: absolute;
  color: #545454;
  font-size: smaller;
  transform: rotate(180deg);
  top: 3.7em;
  right: 10.55em;
}
:-moz-any(#znak){
  top: 4em;
}
#instructions{
  text-align: left;
}